In [1]:
import pandas as pd
import numpy as np

In [2]:
Pseries = pd.DataFrame({'Africa Countries':['Ghana','Nigeria','Kenya','Cameroon','Sieria Leone','Uganada', 'Libya','Egypt']})
Pseries

  Africa Countries
0            Ghana
1          Nigeria
2            Kenya
3         Cameroon
4     Sieria Leone
5          Uganada
6            Libya
7            Egypt

In [3]:
Pseries.dropna(inplace=True)

In [4]:
Pseries

  Africa Countries
0            Ghana
1          Nigeria
2            Kenya
3         Cameroon
4     Sieria Leone
5          Uganada
6            Libya
7            Egypt

In [5]:
Pseries.iat[1,0]

'Nigeria'

In [6]:
pd.DataFrame(pd.Series(['Ghana','Nigeria','Kenya','Cameroon','Sieria Leone','Uganada', 'Libya','Egypt']))

              0
0         Ghana
1       Nigeria
2         Kenya
3      Cameroon
4  Sieria Leone
5       Uganada
6         Libya
7         Egypt

In [7]:
Date = pd.date_range('today',periods=8,normalize=True,tz='Africa/Lagos')
Date

DatetimeIndex(['2022-02-26 00:00:00+01:00', '2022-02-27 00:00:00+01:00',
               '2022-02-28 00:00:00+01:00', '2022-03-01 00:00:00+01:00',
               '2022-03-02 00:00:00+01:00', '2022-03-03 00:00:00+01:00',
               '2022-03-04 00:00:00+01:00', '2022-03-05 00:00:00+01:00'],
              dtype='datetime64[ns, Africa/Lagos]', freq='D')

In [8]:
AfricaCountries=['Ghana','Nigeria','Kenya','Cameroon','Sieria Leone','Uganada', 'Libya','Egypt']

In [9]:
df=pd.DataFrame(AfricaCountries,index=Date,columns=['Africa Countries'])
df

                          Africa Countries
2022-02-26 00:00:00+01:00            Ghana
2022-02-27 00:00:00+01:00          Nigeria
2022-02-28 00:00:00+01:00            Kenya
2022-03-01 00:00:00+01:00         Cameroon
2022-03-02 00:00:00+01:00     Sieria Leone
2022-03-03 00:00:00+01:00          Uganada
2022-03-04 00:00:00+01:00            Libya
2022-03-05 00:00:00+01:00            Egypt

In [10]:
df.to_excel('africaNations.xlsx',index=False)