In [1]:
import pandas as pd
import os

In [2]:
os.getcwd()

'C:\\Users\\Hp\\Desktop\\DS Projects'

In [3]:
movies = pd.read_csv('movieRatings.csv')

In [4]:
movies.head()

,Film,Genre,Rotten Tomatoes Ratings %,Audience Ratings %,Budget (million $),Year of release
0,(500) Days of Summer,Comedy,87,81,8,2009
1,"10,000 B.C.",Adventure,9,44,105,2008
2,12 Rounds,Action,30,52,20,2009
3,127 Hours,Adventure,93,84,18,2010
4,17 Again,Comedy,55,70,20,2009

In [5]:
movies.columns

Index(['Film', 'Genre', 'Rotten Tomatoes Ratings %', 'Audience Ratings %',
       'Budget (million $)', 'Year of release'],
      dtype='object')

In [6]:
movies.columns = ['Film', 'Genre', 'CriticalRatings', 'AudienceRatings','BudgetMillions','Year']

In [7]:
movies.head()

,Film,Genre,CriticalRatings,AudienceRatings,BudgetMillions,Year
0,(500) Days of Summer,Comedy,87,81,8,2009
1,"10,000 B.C.",Adventure,9,44,105,2008
2,12 Rounds,Action,30,52,20,2009
3,127 Hours,Adventure,93,84,18,2010
4,17 Again,Comedy,55,70,20,2009

In [8]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Film             559 non-null    object
 1   Genre            559 non-null    object
 2   CriticalRatings  559 non-null    int64
 3   AudienceRatings  559 non-null    int64
 4   BudgetMillions   559 non-null    int64
 5   Year             559 non-null    int64
dtypes: int64(4), object(2)
memory usage: 26.3+ KB

In [10]:
movies.Film = movies.Film.astype('category')

In [13]:
movies.Genre = movies.Genre.astype('category')
movies.Year = movies.Year.astype('category')

In [14]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Film             559 non-null    category
 1   Genre            559 non-null    category
 2   CriticalRatings  559 non-null    int64
 3   AudienceRatings  559 non-null    int64
 4   BudgetMillions   559 non-null    int64
 5   Year             559 non-null    category
dtypes: category(3), int64(3)
memory usage: 36.5 KB

In [18]:
movies.Year.cat.categories

Int64Index([2007, 2008, 2009, 2010, 2011], dtype='int64')

In [20]:
movies.describe()

       CriticalRatings  AudienceRatings  BudgetMillions
count       559.000000       559.000000      559.000000
mean         47.309481        58.744186       50.236136
std          26.413091        16.826887       48.731817
min           0.000000         0.000000        0.000000
25%          25.000000        47.000000       20.000000
50%          46.000000        58.000000       35.000000
75%          70.000000        72.000000       65.000000
max          97.000000        96.000000      300.000000